[submodule "docs/lib/smack/Smack"]
	path = docs/lib/smack/Smack
	url = https://github.com/igniterealtime/Smack.git
[submodule "lib/Smack"]
	path = lib/Smack
	url = https://github.com/igniterealtime/Smack.git
[submodule "lib/babbler"]
	path = lib/babbler
	url = https://bitbucket.org/sco0ter/babbler.git
[submodule "lib/emite"]
	path = lib/emite
	url = https://github.com/EmiteGWT/emite.git
