[submodule "docs/lib/smack/Smack"]
	path = docs/lib/smack/Smack
	url = https://github.com/igniterealtime/Smack.git
[submodule "lib/Smack"]
	path = lib/Smack
	url = https://github.com/igniterealtime/Smack.git
